<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · aprs.me">
      {assigns[:page_title] || "Aprs"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/vendor/leaflet/leaflet.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/vendor/leaflet/leaflet.js"}
      data-source-map="false"
    >
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class={body_class(assigns)}>
    {@inner_content}
  </body>
</html>
